/* Styling the section */
#awards-partners {
    /* padding: 40px; */
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#are_you_ready{
    background: linear-gradient(to bottom right, #312e81, #5b2b79, #1e3a8a); /* Gradient from indigo to purple to blue */
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#are_you_ready #heading{
    font-size: 3rem; /* Equivalent to Tailwind's text-3xl (30px) */
    font-weight: 700; /* Equivalent to font-bold */
    /* letter-spacing: -0.025em;  */
    color: white; /* Matches text-white */
    text-align: center;
    width: 50%;
}


/* Section heading */
#heading {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.logos{
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}

.logos :hover .logos-slide{
    animation-play-state: paused;
}

@keyframes slide {
   from {
       transform: translateX(0);
   }
   to {
       transform: translateX(-100%);
   } 
}

.logos-slide{
    display: inline-block;
    animation: 20s slide linear infinite;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}






