/* Styling the section */
#awards-partners {
    padding: 40px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Section heading */
#heading {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 75%;
    padding: 15px; /* Added padding for a polished look */
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1); /* Subtle semi-transparent background */
    border: 2px solid rgba(107, 107, 195, 0.5); /* Gradient-inspired border for a modern effect */
    box-shadow: 0 8px 30px rgba(107, 107, 195, 0.5); /* Softer, refined shadow */
    border-radius: 15px; /* Rounded edges for a smooth appearance */
    transition: all 0.3s ease; /* Transition for interactive effects */
}

.marquee-wrapper:hover {
    box-shadow: 0 10px 40px rgba(107, 107, 195, 0.7); /* Enhanced shadow on hover */
    transform: scale(1.03); /* Slight scaling effect for interactivity */
}

/* Partners list for logos */
.partners-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: scroll 20s linear infinite;
}

/* Logo styling */
.logo img {
    width: 200px;
    height: auto;
    background-size: cover; /* Cover to fill the area */
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Marquee animation for scrolling */
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


