/* Styling the section */
#awards-partners {
    padding: 40px;
    text-align: center;
    background-color: white;
}

/* Section heading */
#heading {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Partner logos container */
.marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

/* Partners list for logos */
.partners-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: scroll 15s linear infinite;
}

/* Logo styling */
.logo img {
    width: 200px;
    height: auto;
    background-size: cover; /* Cover to fill the area */
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Marquee animation for scrolling */
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


