
.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    
    background-color: #f7fafc;
        position: relative;
    padding:10% 0 ;
    overflow: hidden; 
}

.work-heading {
    font-size: 2.5em; /* Large heading */
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 5vh; /* Space between cards */
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 0 20px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    gap: 5%; /* Space between image and text */
    /* background-color: #ffffff; */
    
    height: 350px; /* Fixed height for consistency */
   
    position: relative;
    overflow: hidden;
}
.card .texts{
    flex:1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.card .image-container{
    flex:1;
    background-color: #e2e8f0;
    height: 100%;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}












/* Glow effect for each card
#pest_control {
    border: 2px solid transparent;
    box-shadow: 0 0 40px rgba(255, 0, 0, 1); /* Blue glow 
}

#influencer_marketing {
    border: 2px solid transparent;
    box-shadow: 0 0 40px rgb(0, 0, 255); /* Green glow 
}

#green_finance {
    border: 2px solid transparent;
    box-shadow: 0 0 40px rgba(0, 255, 0, 1); /* Yellow glow 
}


.card .logo {
    width: 100%;
    height: 50%; /* Takes up the top half of the card 
    background-size: cover; /* Cover to fill the area
    background-position: center;
    background-repeat: no-repeat;
}

#pest_control .logo {
    background-image: url('pest control with a red color theme.svg'); /* Replace with your image 
}

#influencer_marketing .logo {
    background-image: url('influencer_marketing.svg'); /* Replace with your image
}

#green_finance .logo {
    background-image: url('green_finance.svg'); /* Replace with your image 
} */






